/* Main CSS Styles */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Roboto Mono", monospace;
  margin-top: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-hover-color);
}

button {
  background-color: var(--primary-hover-color);
  color: var(--background-color);
  width: 150px;
  height: 40px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button.disabled {
  background-color: var(--disabled-bg-color);
  color: var(--disabled-text-color);
  cursor: not-allowed;
}

.secondary-button {
  background-color: var(--secondary-color);
  color: var(--background-color);
}

.section-background {
  background-color: var(--section-bg-color);
  padding: 20px;
}

input {
  border: none;
  border-bottom: 1px solid var(--input-border-color);
}

input[type="number"] {
  border: none;
  border-bottom: 1px solid var(--input-border-color);
  width: 50px;
}

input[type="radio"] {
  margin-left: 10px;
}

.radio-group {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 25px;
}

label {
  font-family: "fredoka one", sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: var(--text-color);
}

.radio-option {
  font-size: 2rem;
}

.content-container {
  /*min-height: calc(100vh - 200px);*/
  width: 100%;
}

/* CSS for Checkbox Group */
.checkbox-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  direction: rtl; /* Ensure right-to-left text direction */
}

.checkbox-group input[type="checkbox"] {
  margin-left: 10px;
}

.checkbox-group label {
  cursor: pointer;
  margin: 0;
  text-align: right;
}

.page-container {
  margin-top: 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.glitch {
  font-size: 48px;
  margin-bottom: 30px;
  color: #00ff00;
  position: relative;
  text-shadow: 0.05em 0 0 #00ff00, -0.03em -0.04em 0 #ff00ff,
    0.025em 0.04em 0 #00ffff;
  animation: glitch 725ms infinite;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00ff00, -0.03em -0.04em 0 #ff00ff,
      0.025em 0.04em 0 #00ffff;
  }
  15% {
    text-shadow: 0.05em 0 0 #00ff00, -0.03em -0.04em 0 #ff00ff,
      0.025em 0.04em 0 #00ffff;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #00ff00, 0.025em 0.035em 0 #ff00ff,
      -0.05em -0.05em 0 #00ffff;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #00ff00, 0.025em 0.035em 0 #ff00ff,
      -0.05em -0.05em 0 #00ffff;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #00ff00, 0.03em 0 0 #ff00ff,
      0 -0.04em 0 #00ffff;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #00ff00, 0.03em 0 0 #ff00ff,
      0 -0.04em 0 #00ffff;
  }
  100% {
    text-shadow: -0.05em 0 0 #00ff00, -0.025em -0.04em 0 #ff00ff,
      -0.04em -0.025em 0 #00ffff;
  }
}
