.report-page {
  margin-top: 2rem;
}

.organization-header {
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
  text-align: center;
  color: var(--primary-color);
}

.grid-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

.grid-header {
  grid-column: -1/1;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.yes {
  color: green;
}

.no {
  color: red;
}

.non-compliant {
  color: red;
}

.report-section {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.report-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.permission-section {
  margin-top: 2rem;
  height: fit-content;
  padding: 1rem;
  border: 3px solid var(--secondary-color);
  border-radius: 1rem;
  background-color: grey;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

.report-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.report-title {
  margin: 0;
}

.info-button {
  margin-left: auto; /* This will push the button to the right */
}

.report-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  width: 100%;
}

/* Ensure that the grid items don't overflow */
.grid-item {
  overflow: hidden;
  word-wrap: break-word;
}

/* Add some padding to the right of the container to prevent cut-off */
@media (max-width: 768px) {
  .report-container {
    padding-right: 1rem;
  }
}
